<div style="margin-bottom: 18px; margin-top: 18px;">
	{% if user %}
	Hello @{{ user.TwitterUsername }} 
		{% if user.isAdmin %}
		 - <a href="/admin/events">View all events</a>
		{% endif %}
	{% else %}
	<a href="/login"><img src="/images/sign-in-with-twitter-l.png" /></a>
	{% endif %}
</div>

<div class="row">
	<div class="span6">
    <h1><a href="/">PHPSW</a></h1>
	</div>
	{% if next_event %}
	<div class="span2">
		<h3>Next Event:</h3>
	</div>
	<div class="span6">
		<h3><a href="/event/{{ next_event.id }}">{{ next_event.title }}</a></h3>
	</div>
	<div class="span1">
		<h4>{{ next_event.startDate.format('d/m/Y') }} {{ next_event.startTime.format('H:i') }}</h4>
	</div>
	{% endif %}
</div>

<ul class="tabs">
	<li class="events"><a href="/">Events</a></li>
	<li class="events-archive"><a href="/events/archive">Events Archive</a></li>
	<li class="members"><a href="/members">Members</a></li>
	{% if user %}
	<li class="account"><a href="/account">Account</a></li>
	<li class="logout"><a href="/logout">Logout</a></li>
	{% endif %}
</ul>
<script>
    $("." + (document.location.pathname.replace(/\/([a-z]+)[\/]+[0-9]*[\/]?([a-z]+).*/,'$1-$2')
            .replace(/[\/0-9]/g, '') || "events"))
        .addClass("active");
</script>
